fastapi
uvicorn[standard]

--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
sentence-transformers
scikit-learn
librosa
soundfile
groq
httpx
deepgram-sdk==7.7.0

python-dotenv
pymongo
pydantic